body
{
    margin:0;
    padding: 0;
    background-color:#1D2123;
}
/* ------------------------- bannière -------------------------- */
header
{
    background-image: url(../IMG/banniere.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.headerText
{
    display: flex;
    flex-direction: column;   
    align-content: center;
    justify-content: center;
    height: 100vh;
}
.headerText > p
{
    color: #C7C7C7;
    font-family: rubik, sans-serif;
    text-align: center;
    font-size: 2.5em;
}
/* --------------------------------- Barre de navigation------------------------- */
nav
{
    background-color: #1D2123;
    font-family: Karla, sans-serif;
}
.navbar-brand
{
    color: #179FA7;
}
.nav-link
{
    color: #C7C7C7;
    font-size: 18px;
    transition: 0.8s;
}
.nav-link:hover
{
    color: #179FA7;
    border-bottom: #179FA7 1px solid;
    transition: 0.8s;
}
.navbar-toggler-icon
{
    color: #C7C7C7;
}
i
{
    color: #C7C7C7;
}
.collapse {
    display: flex;
    justify-content: center;
    }
/* -------------------------------- Page de Présentation ----------------------------*/
#homePage
{
    background-color: #1D2123;
    font-family: Karla, sans-serif;
    height: 100vh;
}
#imageavatar
{
    
    width: 500px;
}
h1
{
    color: #179FA7 ;
    font-family: Rubik, sans-serif;
    text-align: center;
}
.jobName
{
    color: #C7C7C7;
    font-size: 25px;
}
.homeText
{
    color: #C7C7C7;
    font-size: 18px;
}
.homeTextItalic
{
    color: #C7C7C7;
    font-style: italic;
    font-size: 18px;
}
hr
{
    /* border: none; */
    border-top: 3px solid #C7C7C7;
    color: #C7C7C7;
    text-align: center;
    width: 50%;
}
/* ------------------------------------ Page des compétences ---------------------- */
h2
{
    font-family: Rubik, sans-serif;
    color: #C7C7C7;
    text-align: center;
    font-size: 30px;
    margin-bottom: 3%;
    margin-top: 3%;
    text-transform: uppercase;
}

#skillPageDesktop
{
    display: block;
    background-image: url(../IMG/banniere2.png) ;
    width: 100%;
    height: 100vh;
    background-size: contain;
    
}
#skillPageDesktop > .container-fluid
{
    color: #C7C7C7;
    font-family: Karla, sans-serif;
    font-size: 18px;
}
.imgSkill
{
    height: 80px;
    width: 80px;
    margin: 2%;  
}
.col
{
    text-align: center;
    background-color: rgba(29, 33, 35, 0.7);
}
#skillsPageMobile > *
{
    display: none;
}
#skillsPageMobileTitle
{
    display: none;
}
/* ----------------------------------  page des formations --------------------------------------*/
#trainingPage
{
    /* height: 100vh; */
}
p
{
    color: #C7C7C7;
    font-family: Karla, sans-serif;
    font-size: 18px;
    text-align: center;
}
.textTraining
{
    font-family: Karla, sans-serif;
    font-size: 18px;
    text-align: center;
}

.dateTextTraining
{
    font-family: Karla, sans-serif;
    font-size: 18px;
    text-align: left;
}
#trainingPage .col-12
{
    background-color: #C7C7C7;
    box-shadow: 5px 5px 5px #179FA7;
}
#trainingPage .col
{
    background-color: #C7C7C7;
    border-bottom: 3px solid #179FA7;
    border-right: 3px solid #179FA7;
}
#trainingPage .col:hover
{
    background-color: #179FA7;
}

.pTraining
{
    margin-bottom: 3%;
    margin-top: 2%;
}
#languageImg img
{
    width: 60px;
    height: 45px;
}
#languageImg .col-3
{
    background-color: #1D2123;
    color: #C7C7C7;
}
/* --------------------------------------------  Experience Page - timeline  ------------------------ */
#experiencePage
{
    background-image: url(../IMG/banniere2.png) ;
    background-size: contain;
   
    /* height: 120vh; */
}

#timelineContainer
{
    display: grid;
    width: 100%;
    font-family: Karla, sans-serif;
    color: #1D2123;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 6fr 1fr 6fr;
    grid-template-areas: 
    "case1 case2 case3 case4"
    "case5 case5 case5 case5"
    "case6 case7 case8 case9";
}
#timelineContainer h5
{
  color: #1D2123; 
  font-weight: bold; 
}

#case1
{
    grid-area: case1;
}
#case2
{
    grid-area: case2;
    background-color: rgba(199, 199, 199, 0.8);
    height: 75%;
}
#case3
{
    grid-area: case3;
}
#case4
{
    grid-area: case4;
    background-color: rgba(199, 199, 199, 0.8);
    height: 80%;
}
#case5
{
    grid-area: case5;
    border-top: solid 4px #D21736;
    height: 2%;
    /* margin-top: 2%; */
}
#case6
{
    grid-area: case6;
    background-color: rgba(199, 199, 199, 0.8);
    height: 90%;
}
#case7
{
    grid-area: case7;
}
#case8
{
    grid-area: case8;
    background-color:rgba(199, 199, 199, 0.8);
    height: 95%;
}
#case9
{
    grid-area: case9;
}
#timelineContainer > #case2, #case4,#case6, #case8
{
    border-radius: 8%;
    box-shadow: 3px 3px 6px #D21736;
}
.experienceDates
{
    background-color: rgba(210, 23, 54, 0.2);
    
}
/* ------------------------------ Page portfolio  ---------------------------*/
#portfolioPage
{
   /* background-color: #D21736; */
}
/* -----------------------------  Page des hobbies ---------------------------------*/
#hobbiesPage
{
    background-image: url(../IMG/banniere2.png) ;
    width: 100%;
    /* height: 80vh; */
    background-size: contain;
    /* background-repeat: no-repeat; */
}
#hobbiesPage img
{
   
    width: 35%;
}
#hobbiesPage .col
{
    background-color: rgba(29, 33, 35, 0.7);
}
#hobbiesPage p
{
   margin-top: 5%;

}
/* -------------------------------- Page contact ---------------------------- */
#contactPage img
{
    height: 90px;
    width: 90px;
}
#contactPage
{
    height: 65vh;
   
}

/* ---------------------------------- Pied de page ------------------------------------------- */
footer
{
    background-image: url(../IMG/banniere2.png);
    width: 100%;
    height: 15vh;
    background-size: 100%;
    background-repeat: no-repeat;
}
a:hover
{
    color: #179FA7;
}
/* ----------------------------------------------- MEDIA QUERIES ----------------------------------------------------------------------- */
@media screen and (max-width: 800px)
{
    #imageavatar
    {
        max-height:  250px;
        max-width: 250px;
    }
    .headerText > p
    {
       background-color:  rgba(29, 33, 35, 0.8);
       border-radius: 40%;
    }
    #skillsPageMobileTitle
    {
        display: block;
        margin-bottom: 20%;
    }
    #skillsPageMobile > *
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
        background-size: contain;
    }
    #accordion h3
    {
        background-color: #179FA7;
        color: #1D2123;
        font-family: Karla, sans-serif;
        font-weight: bold;
        border: 1px solid #179FA7;
    }
    #accordion div
    {
        background-image: url(../IMG/banniere2.png) ;
    }
    #skillsPageMobile .col
    {
        color: #C7C7C7;
    }
    #skillsPageMobile .img
    {
        /* height: 40%; */
    }
    #skillPageDesktop
    {
       display: none;
    }
    #trainingPage
    {
        /* height: 200vh; */
    }
    /* Timeline */
    #experiencePage
    {
        display: block;
        background-color: green;
    }
    #timelineContainer
    {
        display: grid;
        width: 100%;
        /* height: 200vh; */
        /* background-image: url(../IMG/banniere2.png) ; */
        background-size: contain;
        grid-template-columns: 10% 80%;
        grid-template-rows: 0.3fr 1fr 1fr 1fr;
        grid-template-areas: 
        "case5 case4"
        "case5 case8"
        "case5 case2"
        "case5 case6";
    }
    #case4
    {
        height: 95%;
    }
    #case5
    {
        grid-area: case5;
        border-top : none;
        border-left: solid 6px #D21736;
        height: 200vh;
        margin-top: 0;
        width: 2vh;
    }
    #case1, #case3, #case7, #case9{
        display: none;
    }
    #contactPage
    {
      height: 55vh;
    }

}